.container {
    box-sizing: border-box;
}

.field {
    position: relative;
    top: -5px;
    width: 100%;
    height: 2.2rem;
    border-radius: 10px;
    box-shadow: inset 0 0 8px #000b;
    border: 1px solid #007CBF;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 11;
    font-size: 1rem;
}

.field.active {
    border: 2px solid #00A6FF;
    box-shadow: inset 0 0 8px #007CBF, 0 0 3px #00A6FF;
}

.label {
    pointer-events: none;
    font-size: 1rem;
    position: relative;
    top: 20px;
    left: 10px;
    font-style: italic;
    color: #555;
    transition: top 0.15s;
    z-index: 12;
}

.label.active {
    font-size: 1rem;
    font-weight: bold;
    top: 4px;
    color: #002940;
    text-shadow: -1px 1px 1px #fff, 1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
    transition: top 0.15s;
}

.button {
    width: 110px;
    height: 30px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 4px #0004;
    font-size: 1rem;
}

.login {
    border: 1px solid #007CBF;
    background-color: #00A6FF;
    color: #fff;
}

.signup {
    border: 1px solid #007CBF;
    background-color: #002940;
    color: #fff;
}

.cancel {
    border: 1px solid #007CBF;
    background-color: #476576;
}

.left {
    margin-right: 5px;
}

.right {
    margin-left: 5px
}

.middle {
    margin: 0 5px;
}